---
import { Image } from "astro:assets";
import { projects } from "../scripts/projects";
import Layout from "../layouts/Layout.astro";
import SlideUp from "../components/SlideUp.astro";
import Button from "../components/Button.astro";

const { metadata } = Astro.props;
const {
    title,
    description,
    type,
    url,
    github,
    tags = [],
    image = null,
} = metadata;
---

<Layout title={title}>
    <div>
        <SlideUp delay={0.25}>
            <a class="tag" href={"/type/" + projects.toSlug(type)}>
                {type}
            </a>
        </SlideUp>
        <h1 class="title">
            <SlideUp class="title" parts={title} />
        </h1>
        <p>{description}</p>

        {
            (url || github) && (
                <div class="flex">
                    {url && (
                        <Button
                            size="small"
                            href={url}
                            variant="outline"
                            arrow={true}
                            target="_blank"
                        >
                            Visit Project
                        </Button>
                    )}
                    {github && (
                        <Button
                            size="small"
                            variant={url ? undefined : "outline"}
                            arrow={!url}
                            href={github}
                        >
                            View on GitHub
                        </Button>
                    )}
                </div>
            )
        }

        {
            image && (
                <figure class="featured-image">
                    <Image src={image.src} alt={image.alt} loading="eager" />
                </figure>
            )
        }

        {
            Astro.slots.has("default") && (
                <>
                    <hr />
                    <slot />
                </>
            )
        }

        {
            tags.length > 0 && (
                <>
                    <hr />
                    <div class="tags flex">
                        {tags.map((tag: any) => (
                            <a
                                class="chip"
                                href={"/tag/" + projects.toSlug(tag)}
                            >
                                {tag}
                            </a>
                        ))}
                    </div>
                </>
            )
        }
    </div>
</Layout>

<style>
    .title {
        margin-top: 0.25rem;
    }

    .tags {
        margin-block: var(--spacing-30);
    }

    .featured-image {
        line-height: 0;
        aspect-ratio: 3 / 2;
        margin: var(--spacing-40) 0 0 0;

        img {
            border-radius: 0.5rem;
            border-shape: squircle;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    hr {
        margin-top: var(--spacing-30);
    }
</style>
